*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226 237 255);
}
form{
    border: solid 2px gray;
    width: 70%;
    margin: 20px auto;
    box-shadow: 1px 2px 14px 0px #8888cb;
}
input{
    display: block;
    height: 30px;
    width: 330px;
    border: solid 2px gray;
    font-size: 18px;
    color: #0b0b6c;
}
h1{
    text-align: center;
    padding-top: 70px;
    font-family: sans-serif;
    color: cornflowerblue;
}
label{
    font-size: 30px;
    color: #373783;
}
button#submit {
    padding: 10px 60px;
    border: solid 1px gray;
    color: white;
    background-color: #2929ff;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 36px;
    margin-left: 70px;
}
button#submit:hover{
    background-color: white;
    color: #2929ff;
    transition: 1s;
    cursor: pointer;
}

h2#answer {
    padding-top: 14px;
    font-size: 35px;
    color: #21217a;
    text-align: center;
    margin-top: 12px;
    padding-bottom: 25px;
}
 .content{
    margin-left: 332px;
}
.content1 {
    margin-top: 18px;
}
.content2 {
    margin-top: 25px;
}
.content3 {
    margin-top: 22px;
}