*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226 237 255);
}
form{
    border: solid 2px gray;
    width: 50%;
    margin: 20px auto;
    box-shadow: 1px 2px 14px 0px #8888cb;
}
input{
    display: block;
    height: 30px;
    width: 330px;
    border: solid 2px gray;
    font-size: 18px;
    color: #0b0b6c;
    padding-left: 5px;
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: cornflowerblue;
}
label{
    font-size: 30px;
    color: #373783;
}
button#submit {
    padding: 10px 60px;
    border: solid 1px gray;
    color: white;
    background-color: #2929ff;
    border-radius: 10px;
    font-size: 16px;
    width: 190px;
}
button#submit:hover{
    background-color: white;
    color: #2929ff;
    transition: 1s;
    cursor: pointer;
}

p {
    font-size: 20px;
    color: #21217a;
    text-align:left;
}
.content{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 30px;
    margin-top: 24px;
}
.contente{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.YandM{
    display: flex;
    flex-direction: column;
    align-items: center;
}
select {
    width: 126px;
    height: 32px;
    color: blue;
    font-size: 19px;
    background-color: #dddde7;
    border: solid 1px blue;
    margin-top: 9px;
}
.main{
    display: flex;
    margin-left: 86px;
}

select:focus{
    border:solid 1px pink;
}

.ans2{
    font-size: 30px;
    color: #373783;
}
h5{
    color: deeppink;
    display: inline-block;
}
.mnn {
    margin-top: 34px;
}
.pd{
    height: 30px;
    width: 40px;
    background: white;
    border: solid 2px gray;
}
button#mnth {
    position: relative;
    right: 4px;
}
.ans1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 60px;
}
.anss {
    text-align: center;
    color: tomato;
}
.colors{
    color: white;
    background-color: green;
}
.clamn{
    padding-left: 140px;
}
